<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <a class="navbar-brand fw-bold" href="/">E-Commerce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <% if (user) { %> <!-- Jika user sudah login -->
            <% if (user.isAdmin) { %> <!-- Jika user adalah admin -->
              <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
            <% } %>
            <li class="nav-item"><a class="nav-link" href="/products">Products</a></li>
            <li class="nav-item"><a class="nav-link" href="/cart">Cart</a></li>
            <li class="nav-item"><a class="nav-link" href="/orders">Orders</a></li>
            <li class="nav-item"><a class="nav-link" href="/users/profile">Profile</a></li>
            <li class="nav-item"><a class="nav-link btn btn-danger text-white ms-2" href="/users/logout">Logout</a></li>
          <% } else { %> <!-- Jika user belum login -->
            <li class="nav-item"><a class="nav-link" href="/users/login">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="/users/register">Register</a></li>
          <% } %>
        </ul>
      </div>
  </div>
</nav>
